@page "/"

<PageTitle>Index</PageTitle>
<br />
<h2> Welcome to your Sales Management Application!!!!!</h2>
<br />
<br />
The operation flow is as follows for your ready reference ==>
<br />
<br />
<p class="text-info"> Order management manage the order with order details which covers Order Id, Order Name, State Name, Window Name, Total 
    Quantity and how many window in the particular ordered window. Also the user can modify and delete the order based on requirement.</p>
    <br /> 
    <p class="text-info">
        Window management manage the basic insert, update and delete window.
    </p>
<br />
<p class="text-info">
    The SubElement are manged by the Element Management menu. 
</p>
<br />
Note : Basic search option are available in every page and also validation are available. The application build based on Repository pattern.
The Models are in shared portion to communicate with Client and Server. To achieve the purpose use service to connect the data to the controller.
